:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;

    /* text colors */
    --main-txt-cl: #2C2C2C;
    --green-cl: #BBF330;
    --green-hover-cl: #B5FF00;
    --dark-green-cl: #7EB101;
    --white-cl: #FEFEFE;
    --default-yellow-cl: #FFE550;

    ---shadow-fruit: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);

    // /* other */
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}