:root {
    /* fonts */
    // --main-font: 'Roboto', sans-serif;
    // --secondary-font: 'Raleway', sans-serif;
    // /* text colors */
    // --title-txt-cl: #212121;
    // --secondary-txt-cl: #757575;
    // --accent-txt-cl: #2196F3;
    // --logo-black-cl: #000000;
    // --logo-withe-cl: #ffffff;
    // --address-txt-cl: rgba(255, 255, 255, 0.6);
    // --social-icon-cl-team: #AFB1B8;

    // /* bg colors */
    // --bg-cl-dark: #2F303A;
    // --bg-cl-light: #F5F4FA;
    // --bg-btn-cl-hover: #188CE8;

    // /* other */
    // --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}