:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;

  /* text colors */
  --main-txt-cl: #2c2c2c;
  --green-cl: #bbf330;
  --dark-green-cl: #7eb101;
  --white-cl: #fefefe;
  --default-yellow-cl: #ffe550;

  ---shadow-fruit: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );

  // /* other */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
