<section class="customers">
    <div class="container">
        <h2 class="customers-title">What our Customers Say</h2>
        <p class="customers-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="customers-list list">
            <li class="customers-item">
                <svg class="customers-icon" width="101" height="16" class="customers-icon">
                    <use href="./images/icons.svg#stars"></use>
                </svg>
                <p class="customers-review">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>

                <div class="customers-wrapper">
                    <img class="customers-photo" src="./images/customers/customer-1.png" alt="Customer 2" width="48" height="48">
                    <div customers-thumb>
                        <h3 class="customers-name">Sumith Shah</h3>
                        <p class="customers-position">Some Dude</p>
                    </div>
                </div>
            </li>
            <li class="customers-item">
                <svg class="customers-icon" width="101" height="16">
                    <use href="./images/icons.svg#stars"></use>
                </svg>
                <p class="customers-review">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>

                <div class="customers-wrapper">
                    <img class="customers-photo" src="./images/customers/customer-2.png" alt="Customer 1" width="48" height="48">
                    <div customers-thumb>
                        <h3 class="customers-name">Sumith Shah</h3>
                        <p class="customers-position">Some Dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>