<!-- KYRYLO DOVGALIN   Section Favorites -->
<section class="section favorites">
  <div class="container">
    <h2 class="section-title favorites-title">Some of Our Favorites</h2>
    <p class="favorites-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="list meals">
      <!-- Meal#1 -->
      <li class="meals-item">
        <a class="link meals-link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/meal-01@1x-dk.jpg 1x,
                ./images/favorites/meal-01@2x-dk.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/meal-01@1x-tb.jpg 1x,
                ./images/favorites/meal-01@2x-tb.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/meal-01@1x-mb.jpg 1x,
                ./images/favorites/meal-01@2x-mb.jpg 2x
              "
            />
            <img
              class="favorites-picture"
              src="./images/favorites/meal-01@1x-mb.jpg"
              alt="Burger"
            />
          </picture>
        </a>
      </li>

      <!-- Meal#2 -->
      <li class="meals-item">
        <a class="link meals-link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/meal-02@1x-dk.jpg 1x,
                ./images/favorites/meal-02@2x-dk.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/meal-02@1x-tb.jpg 1x,
                ./images/favorites/meal-02@2x-tb.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/meal-02@1x-mb.jpg 1x,
                ./images/favorites/meal-02@2x-mb.jpg 2x
              "
            />
            <img
              class="favorites-picture"
              src="./images/favorites/meal-02@1x-mb.jpg"
              alt="Pasta Bolognese"
            />
          </picture>
        </a>
      </li>
      <!-- Meal#3 -->
      <li class="meals-item">
        <a class="link meals-link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/meal-03@1x-dk.jpg 1x,
                ./images/favorites/meal-03@2x-dk.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/meal-03@1x-tb.jpg 1x,
                ./images/favorites/meal-03@2x-tb.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/meal-03@1x-mb.jpg 1x,
                ./images/favorites/meal-03@2x-mb.jpg 2x
              "
            />
            <img
              class="favorites-picture"
              src="./images/favorites/meal-03@1x-mb.jpg"
              alt="Pizza"
            />
          </picture>
        </a>
      </li>
      <!-- Meal#4 -->
      <li class="meals-item">
        <a class="link meals-link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/meal-04@1x-dk.jpg 1x,
                ./images/favorites/meal-04@2x-dk.jpg 2x
              "
            />

            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/favorites/meal-04@1x-tb.jpg 1x,
                ./images/favorites/meal-04@2x-tb.jpg 2x
              "
            />
            <img
              class="favorites-picture"
              src="./images/favorites/meal-04@1x-tb.jpg"
              alt="Rice and chicken"
            />
          </picture>
        </a>
      </li>
      <!-- Meal#5 -->
      <li class="meals-item">
        <a class="link meals-link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/meal-05@1x-dk.jpg 1x,
                ./images/favorites/meal-05@2x-dk.jpg 2x
              "
            />

            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/favorites/meal-05@1x-tb.jpg 1x,
                ./images/favorites/meal-05@2x-tb.jpg 2x
              "
            />
            <img
              class="favorites-picture"
              src="./images/favorites/meal-05@1x-tb.jpg"
              alt="Salad with salmon"
            />
          </picture>
        </a>
      </li>
      <!-- Meal#6 -->
      <li class="meals-item">
        <a class="link meals-link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/meal-06@1x-dk.jpg 1x,
                ./images/favorites/meal-06@2x-dk.jpg 2x
              "
            />

            <source
              media="(max-width: 1279px)"
              srcset="
                ./images/favorites/meal-06@1x-tb.jpg 1x,
                ./images/favorites/meal-06@2x-tb.jpg 2x
              "
            />
            <img
              class="favorites-picture"
              src="./images/favorites/meal-06@1x-tb.jpg"
              alt="Ukrainian Borsh"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- END OF FAVORITES SECTION -->
