<footer class="footer" id="contact">
  <div class="container">
    <div class="footer-top">
      <nav class="footer-nav">
        <a class="link logo footer-logo" href="">
          <img
            src="./images/footer/logo@_lg.svg"
            alt="Logo FoodSta"
            width="69px"
            height="51px"
        /></a>
        <ul class="list footer-nav-list">
          <li class="item footer-nav-item">
            <a class="link footer-nav-link" href="">Home</a>
          </li>
          <li class="item footer-nav-item">
            <a class="link footer-nav-link" href="">About</a>
          </li>
          <li class="item footer-nav-item">
            <a class="link footer-nav-link" href="">Service</a>
          </li>
          <li class="item footer-nav-item">
            <a class="link footer-nav-link" href="">Menu</a>
          </li>
          <li class="item footer-nav-item">
            <a class="link footer-nav-link" href="">Contact</a>
          </li>
        </ul>
      </nav>

      <form class="footer-form">
        <label class="footer-input-field">
          <span class="subscribe-label">Subscribe</span>
          <input
            class="subscribe-form__input footer-subscribe-form__input"
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            required
          />
        </label>

        <button class="subscribe-btn footer__subscribe-btn" type="submit">
          Subscribe
        </button>
        <p class="footer-subscribe-text">
          By subscribing you agree to with our
          <a
            class="external-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            >Privacy Policy</a
          >
        </p>
      </form>
    </div>

    <div class="footer-bottom">
      <ul class="list external-list">
        <li>
          <a
            class="external-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a
            class="external-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            >Terms of Service</a
          >
        </li>
        <li>
          <a
            class="external-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            >Cookies Settings</a
          >
        </li>
      </ul>
      <p class="rights-text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
