<section class="herro">
    <div class="herro__container">
        <div class="herro__ihform">
            <h1 class="herro__titl">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="herro__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                varius
                enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum
                nulla, ut commodo diam libero vitae erat.</p>
            <button class="herro__btn herro__btn--text">
                Order Now
            </button>
        </div>
        <div class="slider">
            <input class="slider-open" type="radio" id="slider-1" name="slider" aria-hidden="true" checked="checked">
            <div class="slider-herro">
                <picture class="slider-herro">
                    <source srcset="src/images/hero/bg_1@1.webp, src/images/hero/bg_1@2x.webp"
                        media="(min-width: 1200px)" type="image/webp">
                    <source srcset="src/images/hero/bg_1@1.png,src/images/hero/bg_1@2x.png" media="(min-width: 1200px)"
                        type="image/webp">
                    <source srcset="src/images/hero/tb_1@1.webp, src/images/hero/tb_1@2x.webp"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="src/images/hero/tb_1@1.png,src/images/hero/tb_1@2x.png" media="(min-width: 768px)"
                        type="image/webp">
                    <img src="src/images/hero/bg_3@1.webp" alt="noun dish" aria-label="noun dish">
                </picture>
            </div>
            <div class="slider-item">
                <input class="slider-open" type="radio" id="slider-2" name="slider" aria-hidden="true">
                <div class="slider-item">
                    <picture class="slider-herro">
                        <source srcset="src/images/hero/bg_2@1.webp, src/images/hero/bg_2@2x.webp"
                            media="(min-width: 1200px)" type="image/webp">
                        <source srcset="src/images/hero/bg_2@1.png,src/images/hero/bg_2@2x.png"
                            media="(min-width: 1200px)" type="image/webp">
                        <source srcset="src/images/hero/tb_2@1.webp, src/images/hero/tb_2@2x.webp"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="src/images/hero/tb_2@1.png,src/images/hero/tb_2@2x.png"
                            media="(min-width: 768px)" type="image/webp">
                        <img src="src/images/hero/bg_2@1.webp" alt="noun dish" aria-label="noun dish">
                    </picture>
                </div>
                <input class="slider-open" type="radio" id="slider-3" name="slider" aria-hidden="true">
                <div class="slider-item">
                    <picture class="slider-herro">
                        <source srcset="src/images/hero/bg_3@1.webp, src/images/hero/bg_3@2x.webp"
                            media="(min-width: 1200px)" type="image/webp">
                        <source srcset="src/images/hero/bg_3@1.png,src/images/hero/bg_3@2x.png"
                            media="(min-width: 1200px)" type="image/webp">
                        <source srcset="src/images/hero/tb_3@1.webp, src/images/hero/tb_3@2x.webp"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="src/images/hero/tb_3@1.png,src/images/hero/tb_3@2x.png"
                            media="(min-width: 768px)" type="image/webp">
                        <img src="src/images/hero/bg_3@1.webp" alt="noun dish" aria-label="noun dish">
                    </picture>
                </div>
                <label for="slider-3" class="slider-btn icon-left btn-1"></label>
                <label for="slider-2" class="slider-btn icon-right btn-1"></label>
                <label for="slider-1" class="slider-btn icon-left btn-2"></label>
                <label for="slider-3" class="slider-btn icon-right btn-2"></label>
                <label for="slider-2" class="slider-btn icon-left btn-3"></label>
                <label for="slider-1" class="slider-btn icon-right btn-3"></label>
            </div>
        </div>
        <div class="slider-open__left">
            <svg class="icon" width="40" height="48">
                <use class="icon-left" href="images/hero/hero.svg#icon-left_bg"></use>
            </svg>
        </div>
        <div class="slider-open__right">
            <svg class="icon" width="40" height="48">
                <use class="icon-right" href="images/hero/hero.svg#icon-right_bg"></use>
            </svg>
        </div>
    </div>
</section>