<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero__title animate__animated animate__fadeInLeft">
      Enjoy Your Favorite Food From Anywhere
    </h1>
    <div class="hero__inform">
      <p class="hero__text animate__animated animate__fadeInLeft">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button
        class="hero-btn hero__btn-text animate__animated animate__bounceIn"
        data-modal-open-1
      >
        Order Now
      </button>
    </div>
    <div class="slider animate__animated animate__fadeInRight">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper swiper-border">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img
              class="slider-img"
              srcset="
                ./images/hero/dish-01@1x-tb.webp  292w,
                ./images/hero/dish-01@2x-tb.webp  584w,
                ./images/hero/dish-01@1x-dk.webp  528w,
                ./images/hero/dish-01@2x-dk.webp 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
              src="./images/hero/dish-01@1x-tb.webp"
              alt="dish_photo"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="slider-img"
              srcset="
                ./images/hero/dish-02@1x-tb.webp  292w,
                ./images/hero/dish-02@2x-tb.webp  584w,
                ./images/hero/dish-02@1x-dk.webp  528w,
                ./images/hero/dish-02@2x-dk.webp 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
              src="./images/hero/dish-02@1x-tb.webp"
              alt="dish_photo"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="slider-img"
              srcset="
                ./images/hero/dish-03@1x-tb.webp  292w,
                ./images/hero/dish-03@2x-tb.webp  584w,
                ./images/hero/dish-03@1x-dk.webp  528w,
                ./images/hero/dish-03@2x-dk.webp 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
              src="./images/hero/dish-03@1x-tb.webp"
              alt="dish_photo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
