<section class="herro">
    <!-- <div class="slider-open__left">
        <svg class="icon" width="40" height="48">
            <use class="icon-left" href="images/hero/hero.svg#icon-left_bg"></use>
        </svg>
    </div>
    <div class="slider-open__right">
        <svg class="icon" width="40" height="48">
            <use class="icon-right" href="images/hero/hero.svg#icon-right_bg"></use>
        </svg>
    </div> -->
    <div class="herro__container container">
        <div class="herro__inform">
            <h1 class="herro__titl">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="herro__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                varius
                enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum
                nulla, ut commodo diam libero vitae erat.</p>
            <button class="herro__btn herro__btn--text">
                Order Now
            </button>
        </div>
        <div class="slider">
            <picture class="slider-herro">
                <source srcset="./images/hero/dt-1@1x.webp,
                ./images/hero/dt-1@2x.webp" media="min-width:1280px" type="png/webp">
                <source srcset="./images/hero/dt-1@1x.png,
                ./images/hero/dt-1@2x.png" media="min-width:1280px" type="png/webp">
            </picture>
        </div>
        <!-- <svg class="hero-picture">
                <use href="../images/hero/icons.svg#icon-Ellipse-1"></use>
            </svg> -->
        <!-- <img class="hero-picture" src="./images/hero/ellipse-11.png" alt="ellips" />
            <img class="hero-picture__tb" src="./images/hero/ellipse-12.png" alt="ellips" width="320px" /> -->
        <!-- <input class="slider-open" type="radio" id="slider-1" name="slider" aria-hidden="true" checked="checked"> -->
        <!-- <div class="slider-herro">
                <picture class="slider-herro">
                    <source srcset="./images/hero/foto-1dt@1x.webp, images/hero/foto-1dt@2x.webp"
                        media="(min-width: 1280px)" type="imagr/webp">
                    <source srcset="./images/hero/dt-1@1x.png, images/hero/dt-1@2x.png" media="(min-width: 1280px)"
                        type="imagr/webp">

                    <source srcset="./images/hero/foto-1dt@1x.jpg, images/hero/foto-1dt@2x.jpg"
                        media="(min-width: 1280px)" type="imagr/webp">
                    <source srcset="./images/hero/foto-1tb@1x.webp, images/hero/foto-1tb@2x.webp"
                        media="(min-width: 768px)" type="imagr/webp">

                    <source srcset="./images/hero/foto-1tb@1x.jpg, images/hero/foto-1tb@2x.jpg"
                        media="(min-width: 768px)" type="imagr/webp">

                </picture> -->
        <!-- <img class="hero__picture" src="./images/hero/foto-1tb@1x.jpg" alt="picture" width="292px"
                    height="292px" /> -->
        <!-- </div> -->
        <!-- <div class="slider-item"> -->
        <!-- <input class="slider-open" type="radio" id="slider-2" name="slider" aria-hidden="true"> -->
        <!-- <div class="slider-item">
                    <picture class="slider-herro">
                        <source media="(min-width: 1280px)" srcset="./images/hero/bt-2.png,./images/hero/bt-2@2x.png">
                        <source media="(min-width: 768px)" srcset="./images/hero/tb-2.png,./images/hero/tb-2@2x.png">
                    </picture>
                </div>
                <input class="slider-open" type="radio" id="slider-3" name="slider" aria-hidden="true">
                <div class="slider-item">
                    <picture class="slider-herro">
                        <source media="(min-width: 1280px)"
                            srcset="./images/hero/bg-3@1.png, ./images/hero/bg-3@2x.png" />
                        <source media="(min-width: 768px)"
                            srcset="./images/hero/tb-3@1.png, ./images/hero/tb-3@2x.png" />
                    </picture>
                </div> -->
        <!-- <label for="slider-3" class="slider-btn icon-left btn-1"></label>
                <label for="slider-2" class="slider-btn icon-right btn-1"></label>
                <label for="slider-1" class="slider-btn icon-left btn-2"></label>
                <label for="slider-3" class="slider-btn icon-right btn-2"></label>
                <label for="slider-2" class="slider-btn icon-left btn-3"></label>
                <label for="slider-1" class="slider-btn icon-right btn-3"></label> -->

    </div>
</section>