<section class="subsctibe">
    <picture>
        <!-- desktop -->
        <source media="(min-width: 1280px)" srcset="./images/subsctibe/banan-01@1x-dk.webp 1x, ./images/subsctibe/banan-01@2x-dk.webp 2x" type="image/webp">
        <source media="(min-width: 1280px)" srcset="./images/subsctibe/banan-01@1x-dk.png 1x, ./images/subsctibe/banan-01@2x-dk.png 2x" type="image/png">
        <!-- tablet -->
        <source media="(min-width: 768px)" srcset="./images/subsctibe/banan-02@1x-tb.webp 1x, ./images/subsctibe/banan-02@2x-tb.webp 2x" type="image/webp">
        <source media="(min-width: 768px)" srcset="./images/subsctibe/banan-02@1x-tb.png 1x, ./images/subsctibe/banan-02@2x-tb.png 2x" type="image/png">
        <!-- mobile -->
        <source media="(max-width: 767px)" srcset="./images/subsctibe/banan-03@1x-mb.webp 1x, ./images/subsctibe/banan-03@2x-mb.webp 2x" type="image/webp">
        <source media="(max-width: 767px)" srcset="./images/subsctibe/banan-03@1x-mb.png 1x, ./images/subsctibe/banan-03@2x-mb.png 2x" type="image/png">
        <!-- fallback -->
        <img class="team__img" src=".//images/subsctibe/banan-03@1x-mb.webp" alt=",банан" width="161" />
    </picture>
<div class="container">
    <h2 class="subscrube-title">Subscribe To Get Special Offers</h2>
    <p class="subscrube-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim 
        in eros elementum tristique.</p>
        <div class="form-container">

            <form class="subscribe-form">
                <label class="subscribe-form__label">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Enter your email" required />
                    <button class="subscribe-btn" type="submit">Subscribe</button>
                </label>
            </form>
        </div>
</div>
</section>