.customers {
    background-image: url(../images/customers/background@1x-mb-sm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    background-color: #F5F5F5;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/customers/background@2x-mb-sm.png);
    }

    @media screen and (min-width: 480px) {
        background-image: url(../images/customers/background@1x-mb.png);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/customers/background@2x-mb.png);
        }
    }

    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 120px;
        background-image: url(../images/customers/background@1x-tb.png);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/customers/background@2x-tb.png);
        }
    }

    @media screen and (min-width: 1280px) {
        padding-top: 100px;
        padding-bottom: 200px;
        background-image: url(../images/customers/background@1x-dk.png);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/customers/background@2x-dk.png);
        }
    }
}

.customers-title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    color: var(--main-txt-cl);

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 42px;
    }
}

.customers-description {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--main-txt-cl);

    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: calc(19 / 16) 19px;
    }
}

.customers-list {
    

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    @media screen and (min-width: 1280px) {
        gap: 139px;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.customers-item {
    background-color: var(--white-cl);
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-top-right-radius: 27px;
    padding: 8px;


    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        
        &:first-child {
            margin-bottom: 23px;
        }
    }

    @media screen and (min-width: 480px) {
        max-width: 280px;
    }

    @media screen and (min-width: 768px) {
        max-width: 336px;
        padding: 12px;
    }

    @media screen and (min-width: 1280px) {
        min-width: 501px;
        padding: 14px;
    }
}

.customers-icon {
    margin-bottom: 28px;
}

.customers-review {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19 / 16);
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        width: 312px;
        font-size: 18px;
        line-height: calc(21 /18);
    }

    @media screen and (min-width: 1280px) {
        width: 473px;
    }
}

.customers-wrapper {
    display: flex;
    gap: 16px;
    width: 160px;
    border-right: 0.854167px solid var(--dark-green-cl);
}

.customers-photo {
    margin-top: 2px;
    margin-bottom: 2px;
}

.customers-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    margin-bottom: 2px;
}

.customers-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    margin-bottom: 4px;
}