// correct
.favorites {
  padding: 60px 0;
  background-color: #fefefe;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
}

// correct
.favorites-title {
  margin-bottom: 20px;

  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;

  color: var(--main-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}

// correct
.favorites-description {
  margin-bottom: 60px;

  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;

  color: var(--main-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

// correct
.meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

// check
.meals-item {
  //   padding: 28px;
  width: 280px;

  border: 11px solid #ffe550;
  border-radius: 139.658px;

  @media screen and (min-width: 768px) {
    // padding: 34px;

    flex-basis: calc((100% - 32px) / 2);

    border: 14px solid #ffe550;
    border-radius: 167.59px;
  }
  @media screen and (min-width: 1280px) {
    // padding: 40px;
    flex-basis: calc((100% - 64px) / 3);

    border: 16px solid #ffe550;
    border-radius: 197.5px;
  }
}

// correct
.meals-item:nth-child(n + 4) {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

//check
.meals-link {
  display: block;
  height: 100%;
  width: 100%;

  padding: 28px;

  @media screen and (min-width: 768px) {
    padding: 34px;
  }
  @media screen and (min-width: 1280px) {
    padding: 40px;
  }

  outline: 1px solid black;
}

//check
.favorites-picture {
  //   display: block;
  //   margin: 0 auto;
  //   outline: 1px solid red;
}
