.herro__container {
    position: relative;
    display: flex;
    flex-direction: column;
    // padding-top: 72px;



    .herro__inform {
        display: flex;
        flex-direction: column;
        text-align: start;

        @media screen and (min-width:1280px) {

            padding-bottom: 236px;

        }

    }

    @media screen and (min-width:768px) {
        .herro__inform {
            width: 100%;
        }
    }


    .herro__titl {

        display: inline-block;
        margin-bottom: 28px;
        max-width: 280px;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;

        color: var(--main-txt-cl);

        @media screen and (min-width:768px) {
            text-align: start;
            min-width: 480px;

            margin-bottom: 44px;
            font-size: 42px;
            line-height: 120%;
        }

        @media screen and (min-width:1280px) {
            padding-top: 159px;
            max-width: 502px;
            font-size: 48px;
            line-height: 120%;
            margin-bottom: 28px;
        }
    }

    .herro-content {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 73px;

        @media screen and (min-width:1280px) {

            padding-top: 0;

        }
    }

    .herro__text {
        display: inline-block;
        min-width: 266px;
        margin-bottom: 34px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        color: var(--main-txt-cl);


        @media screen and (min-width:768px) {

            max-width: 336px;
            max-height: 120px;
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 150%;

        }

        @media screen and (min-width:1280px) {

            max-width: 502px;
            max-height: 69px;

        }
    }

    .herro__btn {

        display: flex;
        align-items: center;
        // height: 32px;
        width: 98px;

        padding: 6px 0;
        background: #bbf330;
        border-radius: 30px;
        cursor: pointer;
        border: none;
    }

    .herro__btn:hover,
    .herro__btn:focus {
        color: #B5FF00;
    }

    .herro__btn--text {
        display: inline-block;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        color: #2c2c2c;
    }

}

.slider {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:767px) {
    .slider {
        display: none;
    }
}


.slider-herro--fon {
    position: absolute;
    left: 408px;
    top: 221px;
    z-index: 3;
    min-width: 320px;
    min-height: 320px;
    // padding-right: 40px;

    @media screen and (min-width:1279px) {
        .herro-picture--slider {
            display: none;
        }
    }

    @media screen and (max-width:1279px) {
        .herro-picture__slider {
            display: none;
        }
    }

    @media screen and (min-width:1280px) {
        // background-image:
        //     url(../images/herro/ellipse-11@1x.png), url(../images/herro/ellipse-dt2@2x.png);

        left: 670px;
        top: 86px;
        z-index: 3;
    }
}

.slider-herro {
    position: absolute;
    min-width: 292px;
    min-height: 292px;
    padding-right: 54px;
    left: 422px;
    top: 235px;
    z-index: 7;
    display: block;

    @media screen and (min-width:1279px) {
        .herro-picture--slider {
            display: none;
        }
    }

    @media screen and (max-width:1279px) {
        .herro-picture--dish {
            display: none;
        }
    }

    @media screen and (min-width:1280px) {
        left: 695px;
        top: 113px;
    }
}


.icon-herro {
    background: #FEFEFE;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    cursor: pointer;

    // transform: rotate(-90deg);
}

.icon-herro {
    padding: 3px 0;
    fill: #2C2C2C;
}

.icon-herro--color {

    @media screen and (max-width:767px) {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .icon-herro {
        width: 28px;
        height: 34px;
        padding: 3px 0;
        fill: #2C2C2C;
    }
}

@media screen and (min-width:1280px) {
    .icon-herro {
        width: 40px;
        height: 48px;
        padding: 5px 0;

    }
}

.slider-open__left {
    position: absolute;

    z-index: 8;
}

@media screen and (min-width:768px) {
    .slider-open__left {
        left: 400px;
        top: 367px;
    }
}

@media screen and (min-width:1280px) {
    .slider-open__left {
        left: 659px;
        top: 352px;
    }
}

.slider-open__right {
    position: absolute;

    z-index: 8;
}

@media screen and (min-width:768px) {
    .slider-open__right {
        left: 710px;
        top: 367px;
    }
}

@media screen and (min-width:1280px) {
    .slider-open__right {
        left: 1220px;
        top: 352px;
    }
}