.herro__container {
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.herro__ihform {
    display: flex;
    flex-direction: column;
    padding-top: 159px;
    margin-right: 152px;
    width: 502px;
}

.herro__titl {
    display: inline-block;

    margin-top: 0;
    margin-bottom: 28px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    color: #2c2c2c;
}

.herro__text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 46px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #2c2c2c;
}

.herro__btn {
    display: flex;
    align-items: center;
    width: 98px;

    padding: 6px 0;
    background: #bbf330;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.herro__btn--text {
    display: inline-block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #2c2c2c;
}

.slider {
    margin-right: 0;
}

.slider-herro {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
}

.slider-open:checked+.slider-item {
    position: static;
    opacity: 1;
}

.slider-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.slider-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 528px;
    border: 26px solid #ffe550;
    border-radius: 456.5px;
}

.slider-btn {
    position: absolute;
    z-index: 16;
    width: 40px;
    height: 48px;

    cursor: pointer;
    display: none;
    top: 50%;

    cursor: pointer;

    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    transform: rotate(-90deg);
    z-index: 15;
}

.slider-open__left {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 669px;
}

.icon {
    width: 40px;
    height: 48px;
    background: #fefefe;
    /* Arrow shadow */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    cursor: pointer;
}

.slider-open__right {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 39px;
}

.slider-btn.icon-left {
    left: -2%;
}

.slider-btn.icon-right {
    right: -2%;
}

.slider-btn.icon:hover {
    background: #fefefe;
}

.icon-left,
.icon-right {
    /* background: #2c2c2c;
    transform: rotate(-90deg); */
    cursor: pointer;
}

#slider-1:checked~.btn-1,
#slider-2:checked~.btn-2,
#slider-3:checked~.btn-3 {
    display: block;
}

#slider-1:checked~.btn-1:nth-child(1),
#slider-2:checked~.btn-2:nth-child(2),
#slider-3:checked~.btn-3:nth-child(3) {
    color: #fefefe;
}